# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\.CompNetworks\UDP_PingClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
